extends layout 
block content 
    h1 Chnage passpor 
    form(method='PUT' action= "change_password_put")
        label(for="email") Email 
        input(type="text" name="email")
        label(for="oldpassword") Old password
        input(type="text" name= "oldpassword" )
        label(for= "newpassword") New password
        input(type= "text" name= "newpassword")
        input(type="submit" value="Submit")