extends layout 
block content 
    h1 search usert 
    form(action= '/search' action= 'GET')
        input(type="text" name= "useremail")
        input(type= "submit" value= "Submit")
        input(type= "text" name= "username")
        input(type= "text" name= "room" )
        input(type= "submit" value= "Submit")