extends layout 
block content 
    div(style= "margin-left: auto; margin-right: auto; width: 80%")
        h1 Change password 
        form(method='POST' action= "change_password_post")
            div(class='form-group')
                label(for="email") Email 
                input(type="text" name="email" class='form-control' required)
            div(class='form-group')
                label(for="oldpassword") Old password
                input(type="password" name= "oldpassword" class= 'form-control' required )
            div(class='form-group')
                label(for= "newpassword") New password
                input(type= "password" name= "newpassword" class='form-control' required)
            input(type="submit" value="Submit" class='btn btn-primary')