extends layout

block content
  .signin 
    h1(style="text-align: center; margin-top: 100px") Welcome to the power management system 

    h3(style="text-align: center; margin-top: 30px") Please sign in to proceed 
     
    div(style= "text-align: center; font-size: 30px; margin-top: 40px")
      a( href= '/signin') Sign in 
       


