extends layout

block content
  .signin 
    h1 hello dang nhap website 
    p chuc nang dang nhap 
     | bang mongo 
    div.btn 
      a(href= '/signin') Sign in 
      a(href= '/signup') Sign up 
title= title 
script(type= 'text/javascript')
body  
  h1= title 
  p= 'dfdf'+ title 
  p a link with 
    a(href= '/ca/cc') sone 
      | doasfdjas 
    #container.col 
      if title 
        p svjnsdvsdjv 
      else 
        p fcsadhnfdf 
      p. 
        wfmsdfgo 
        efkdgev 
      ul 
        each val in []
        li= val 
         

