extends users_template 
block content 
    div(class='signin' style="margin-top: 50px") 
       
        div.center 
            h3 Sign up 
            if hasErrors 
                each mess in messages 
                    span.err= mess 
            form(action='/admin/signup' method= 'POST')
                div.form-group 
                    label(for='email') Email 
                    input(type= 'email' class='form-control' name= 'email' placeholder= 'email')
                div.form-group 
                    label(for='username') Username
                    input(type= 'text' name= 'username' class='form-control' placeholder= 'username')
                div.form-group 
                    label(for= 'password') password 
                    input(type= 'password' name= 'password' placeholder='password' class='form-control')
                div.form-group 
                    label(for= 'modbus') Meter device modbus adress 
                    input(type= 'text' name= 'modbus' placeholder='0.0.0.0' class= 'form-control')
                div.form-group 
                    label(for= 'port') Meter device modbus port
                    input(type= 'number' name= 'port' placeholder=502 class= 'form-control')
                div.form-group
                    label(for= 'room') User room
                    input(type= 'text' name= 'room' placeholder='room abc' class='form-control')
                button(type="submit" class= 'btn btn-default') Submit
                