doctype html 
html    
    head 
    body 
        h1 welcome 
        input(type="password" name= "inepug" data-js= `${4>2 }`)?
        - const myclass= ["dffdf", "dfdsfdf", "fdsdf"]
        div(class= myclass
        )
        - const myStyle= {"color": ""}