extends users_template 
block content 
    div(style="float: right; color: red")
        form(method="GET" action='/admin/users/search')
            input(type="text" placeholder="enter user info: user name, email, room .." name="search_info" style="width: 300px" )
            
            input(type= "submit" value="Search" style= "" )
        
    each user in list 
        div(style="margin-top: 50px; border-bottom: 1px solid")
          ul 
            li Username:  #{user.username} 
            li Email:  #{user.email} 
            if (user.meter)
                li Connect to meter:  #{user.meter.info} 
             
            li 
                a(href='/admin/users/'+ user.id) Go to user data
            li
                p 
                    a(href='/admin/user/'+user.id+'/delete') Delete User