extends layout 
block content 
    h1 Delete user 
    ul  
        li username:  #{user.username} 
        li email: #{user.email} 
        li room: #{user.room}

    p Do you really want to delete this user 
    form(method='POST')
        div
            input(type= 'hidden', name= 'userid', required= true, value= user._id)
        button(type='submit') Delete 